@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #f0efef;
  color: rgb(46, 40, 55);
  font-family: Arial, sans-serif; 
}

@font-face {
  font-family: 'Engramma';
  src: url('../Engramma.ttf') format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
